<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OCR Helper</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link type="text/css" rel="stylesheet" href="scripts/contextmenu/jquery.contextMenu.min.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="scripts/contextmenu/jquery.contextMenu.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/date-manager.js"></script>
    <script src="js/log-modal.js"></script>
    <script src="js/files-attached-modal.js"></script>
    <script src="js/account-chosen-stage.js"></script>
    <script src="js/documents-download.js"></script>
    <script src="js/advances.js"></script>
    <script src="js/revenues.js"></script>
    <script src="js/withdrawals.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/bootstrap-vue.js"></script>
</head>
<body>
<div id="newApp">

<template>
    <!--<blog-post v-bind:post="{title:'test', content:'something'}"></blog-post>-->
    <b-navbar class="my-bg-dark" toggleable="md" type="dark" variant="info">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <img src="img/arcarius.png" width="40" height="40" />
        <b-navbar-brand href="#" id="ocr-title">OCR Helper</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="Menu" right>
                    <b-dropdown-item href="#">Keywords</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <b-table dark bordered :items="items" :fields="fields" :processes="processes" id="general-table">
        <template v-for="process in processes" :slot="process" slot-scope="row" class="text-center">
            <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
            <div class="text-nowrap text-center">
            <b-button size="sm" @click.stop="change(row.item, process, row)"  v-bind:class="row.item[process + 'Button'].color" class="mr-2">
                {{ row.item[process + 'Button'].stageName }}
            </b-button>
            </div>

        </template>
        <!--</template>-->
        <template slot="row-details" slot-scope="row">
            <b-card class="bg-dark">
                <b-row class="mb-2">
                    <b-col class="text-center text-nowrap"><span id="detailsSpan" v-for="item in row.item[row.item._detailsItemName]">
                        <button :key="item.name" v-on:click="showPopUp(item.log, item.name, row.item.id)"  :class="{ 'btn' : true, 'btn-sm' : true, 'btn-success2' : item.status === 'CompletedStStatus', 'btn-danger1' : item.status === 'ErrorStStatus', 'btn-warning' : item.status === 'InProcessStStatus', 'btn-secondary' : item.status === 'NotStartedStStatus', 'btn-info' : item.status === 'StoppedStStatus'}"> {{ item.name }} </button> &nbsp;
                    </span></b-col>
                </b-row>
            </b-card>
        </template>

    </b-table>
<log-modal ref="logModal" v-bind:item-log="currentItemLog" v-bind:stage-name="stageName">

</log-modal>
    <files-attached-modal ref="filesAttachedModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName">
    </files-attached-modal>
    <documents-download-modal ref="documentsDownloadModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName">
    </documents-download-modal>
    <account-chosen-modal ref="accountChosenModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName" v-bind:item-log="currentItemLog">
    </account-chosen-modal>
    <advances-modal ref="advancesModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName" v-bind:item-log="currentItemLog">
    </advances-modal>
    <revenues-modal ref="revenuesModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName" v-bind:item-log="currentItemLog">
    </revenues-modal>
    <withdrawals-modal ref="withdrawalsModal" v-bind:item-id="currentItemId" v-bind:stage-name="stageName" v-bind:item-log="currentItemLog">
    </withdrawals-modal>
</template>
</div>


<script src="js/test.js"></script>

</body>
</html>